@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    transition: .4s;
}

ul li,
ol li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 16px;
}


.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 75px;
}

.container-header {
    padding: 0 10px;
}

/* Анимация с текстом */

.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8; 
    z-index: 9999; /* Чтобы контейнер был поверх всего */
    overflow: hidden; /* Запрет прокрутки */
}


.transition-text {
    font-size: 24px;
    font: 700 36px 'Poppins';
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Буквы не переносятся на следующую строку */
    color: #264BC0;
}

.transition-text span {
    opacity: 0; /* Начальная прозрачность букв */
    animation: fadeIn 0.5s forwards; /* Анимация появления букв */
    animation-delay: calc(0.1s * var(--index)); /* Задержка для каждой буквы */
    margin-right: 31px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Добавляем анимацию для появления и исчезновения текста */

.transition-container.hide .transition-text {
    opacity: 0;
}

.transition-container.hide .main-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Анимация появления основного контента */
}


/* Шапка сайта */

#header-section {
    padding: 32px 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 1em; */
    box-shadow: 0px 3px 10px 0px #bdc3c766;
}

header .logo {
    display: flex;
    align-items: center;
    color: #34495e;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    text-shadow: 2px 2px 3px #bdc3c7;
}

header .logo i {
    margin-right: 10px;
}

/* Mobile Header */

@media screen and (max-width: 500px) {
    header .logo p {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    header .logo p {
        display: none;
    }
}

/* Середина сайта тоесть 3D тур 360 */

#krpano-section {
    background: 50% 0%/cover no-repeat;
    background-color: #7e7e7e;
}

.banana {
    display: flex;
    justify-content: space-between;
    padding: 154px 0 166px;
}

.banana-info {
    max-width: 530px;
}

.banana__header {
    font: 72px/94px 'Righteous', cursive;
}

.banana__text {
    margin: 32px 0 64px;
    font-size: 20px;
    line-height: 36px;
    opacity: 0.8;
}


/* Гугл карта */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .row .contact-info .box {
    margin: 4rem 2rem;
}

.contact .row .contact-info .box h3 {
    font-size: 2rem;
    color: #333;
}

.contact .row .contact-info .box h3 i {
    color: #0098a1;
}

.contact .row .contact-info .box p {
    padding-left: 2rem;
    font-size: 1.7rem;
    color: #aaa;
}

.heading {
    color: #000;
    display: flex;
    justify-content: center;
    text-wrap: wrap;
}


.heading span {
    color: gold;
}

/* Нога сайта */
/* 
footer {
    position: fixed;
    bottom: 0;
} */

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Poppins', sans-serif;
    margin: 0;
}

.footer-distributed h3 span {
    color: #264BC0;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
} 

.end-text {
    background-color: #edfff1;
    text-align: center;
}