* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    transition: .4s;
}

ul li,
ol li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 16px;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 75px;
}

.container-header {
    padding: 0 10px;
}

/* Анимация с текстом */

.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    z-index: 9999; /* Чтобы контейнер был поверх всего */
    overflow: hidden; /* Запрет прокрутки */
}


.transition-text {
    font-size: 28px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #0790ff;
}

.transition-text span {
    opacity: 0; /* Начальная прозрачность букв */
    animation: fadeIn 0.4s forwards; /* Анимация появления букв */
    animation-delay: calc(0.1s * var(--index)); /* Задержка для каждой буквы */
    margin-right: 16px; /* Отступ между буквами */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Добавляем анимацию для появления и исчезновения текста */
.transition-container.hide .transition-text {
    opacity: 0;
}

.transition-container.hide .main-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Анимация появления основного контента */
}

/* Шапка сайта */

#header-section {
    padding: 32px 0;
    background-color: rgb(255, 255, 255);
}

.header,
.nav-main,
.nav-main__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .nav-main {
    flex-grow: 1;
} */

.nav-main__list {
    gap: 48px;
    font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}

.nav-main__link_selected {
    font-size: 24px;
}

.nav-main__link:hover {
    color: #C99E71;
}

.header__logo {
    width: 84px;
    height: 84px;
}

/* Середина сайта тоесть 3D тур 360 */

#krpano-section {
    background: 50% 0%/cover no-repeat;
    background-color: #7e7e7e;
}

.banana {
    display: flex;
    justify-content: space-between;
    padding: 154px 0 166px;
}

.banana-info {
    max-width: 530px;
}

.banana__header {
    font: 72px/94px 'Righteous', cursive;
}

.banana__text {
    margin: 32px 0 64px;
    font-size: 20px;
    line-height: 36px;
    opacity: 0.8;
}


/* Гугл карта */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .row .contact-info .box {
    margin: 4rem 2rem;
}

.contact .row .contact-info .box h3 {
    font-size: 2rem;
    color: #333;
}

.contact .row .contact-info .box h3 i {
    color: #0098a1;
}

.contact .row .contact-info .box p {
    padding-left: 2rem;
    font-size: 1.7rem;
    color: #aaa;
}

.heading {
    color: #000;
    display: flex;
    justify-content: center;
    text-wrap: wrap;
}


.heading span {
    color: gold;
}

/* Нога сайта */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) 
{
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    widows: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffff;
    font: normal 36px 'cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #e0ac1c;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 28px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}


.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3f71ea;
}

@media(max-width: 880px) {
    .footer-distributed .footer-center .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.end-text {
    background-color: #edfff1;
    text-align: center;
}